body {
    font-family: sans-serif;
    background-color: rgba(58, 1, 40, 0.781);
    color: white;
    overflow: hidden;
}

#titulo {
    width: 100%;
    margin-bottom: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#titulo h1 {
    display: block;
}

.page {
    margin: 15em auto;
    width: 35em;
    border-radius: 10px;
    padding: 1em;
    height: 100vh;
}

#submit {
    background-color: rgba(58, 1, 40, 0.781);
    border-color: rgba(58, 1, 40, 0.781);
    width: 100%;
    font-weight: bold;
    letter-spacing: .1em;
}

