body {
    font-family: sans-serif;
    background-color: rgba(15, 24, 1, 0.781);
    overflow-x: hidden;
    overflow-y: scroll;
    color: white;
}

nav {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card {
    margin: 10px 10px;
    color: black;
    width: 17rem !important;
}

.form {
    width: 450px;
}

.modal-header {
    background-color: rgba(15, 24, 1, 0.71);
    color: white;
}

.modal-body {
    color: black;
}

.close span {
    color: white;
}

#produtos1 {
    justify-content: center;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#produtos {
    justify-content: center;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.btn-outline-dark {
    color: black;
    border-color: black;
}

.btn-outline-dark:hover {
    background-color: rgba(15, 24, 1, 0.781);
    border-color: #5D8018;
}

.btn-icon {
    border: none;
    background-color: white !important;
    padding: 0px;
}

.btn-icon:hover {
    background-color: white !important;
}

.material-icons {
    padding-top: 5px;
}

.green-icon {
    color: #5D8018;
}

.green-icon:hover {
    color: rgb(69, 95, 17);
}

.red-icon {
    color: #dc3545;
}

.red-icon:hover {
    color: #a32733;
}

#btn-acoes-produto {
    display: flex;
    justify-content: space-around;
}

.alert-produtos {
    margin: 10px 20px;
}

#titulo {
    width: 100%;
    margin-bottom: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#titulo h1 {
    display: block;
}

.page {
    margin: 15em auto;
    width: 35em;
    border-radius: 10px;
    padding: 1em;
    height: 100vh;
}

.btn-outline-dark:not(:disabled):not(.disabled).active, .btn-outline-dark:not(:disabled):not(.disabled):active, .show > .btn-outline-dark.dropdown-toggle {
    color: #fff;
    background: none;
    border: none;

}

.dropleft .dropdown-toggle::before {
    vertical-align: 0;
    display: none;
}

.dropdown-menu {
    width: 210px;
}

.dropdown-menu .show{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropdown-menu a {
    padding: 5px;
    margin: 0px;
    text-align: center;
}

.dropdown-menu a:hover {
    background-color: #dedede;
}

.card-image {
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d1d1d1;
}

.card-img-top {
    max-height: 270px;
    max-width: 270px;
    width: auto;
}

.navbar-brand {
    color:rgb(69, 95, 17);
}

.navbar-brand:hover {
    color: rgb(69, 95, 17);
}