body {
    font-family: sans-serif;
    background-color: rgba(15, 24, 1, 0.781);
    overflow: hidden;
}

nav {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card-text {
    text-align: justify;
}

.card {
    margin: 10px 10px;
    color: black;
    width: 17rem !important;
}

.modal-header {
    background-color: rgba(15, 24, 1, 0.71);
    color: white;
}

.close span {
    color: white;
}

#produtos {
    justify-content: center;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.btn-outline-dark {
    color: black;
    border-color: black;
}

.btn-outline-dark:hover {
    background-color: rgba(15, 24, 1, 0.781);
    border-color: #5D8018;
}

.btn-icon {
    border: none;
    background-color: white;
    padding: 0px;
}

.btn-icon:hover {
    background-color: white;
}

.material-icons {
    padding-top: 5px;
}

.green-icon {
    color: #5D8018;
}

.green-icon:hover {
    color: rgb(69, 95, 17);
}

.red-icon {
    color: #dc3545;
}

.red-icon:hover {
    color: #a32733;
}

#btn-acoes-produto {
    display: flex;
    justify-content: space-between;
}

.alert-produtos {
    margin: 10px 20px;
}

#titulo {
    width: 100%;
    margin-bottom: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#titulo h1 {
    display: block;
}

.page {
    margin: 15em auto;
    width: 35em;
    border-radius: 10px;
    padding: 1em;
    height: 100vh;
}
