{% extends "layout/layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    <title> {{ titulo }} </title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form_produto.css') }}">
{% endblock %}

{% block body %}  
    <nav class="navbar">
        <div>
            <a class="navbar-brand" href="/"> CompraPC </a>
        </div>

        <div>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn my-2 my-sm-0 btn-icon" type="submit"> 
                    <i class="material-icons green-icon"> search </i> 
                </button>
            </form>
        </div>

        
        {% if current_user.nome %}
            <div class="btn-group dropleft">
                <button type="button" class="dropdown-toggle btn btn-outline-dark my-2 my-sm-0 btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons green-icon"> menu </i> 
                </button>

                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/produto"> 
                        Home 
                    </a>
                        
                    {% if current_user.cargo == 'administrador' %}
                        <a class="dropdown-item" href="#">
                            Cadastrar Funcionários
                        </a>
                    {% endif %}

                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" href="/usuario/logout">
                        Sair
                    </a>
                </div>
            </div>
            
        {% endif %}
    </nav>

    <div class="conteudo-pagina">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <div>
            {{ wtf.quick_form(form_produto, extra_classes='col-12', button_map={'submit': 'outline-dark col-8 offset-2'}) }}
        </div>
    </div>
{% endblock %}