{% extends "layout/layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    <title> {{ titulo }} </title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/carrinho.css') }}">
{% endblock %}

{% block body %}
    <nav class="navbar">
        <div>
            <a class="navbar-brand" href="/"> CompraPC </a>
        </div>

        <div>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-dark my-2 my-sm-0 btn-icon" type="submit"> 
                    <i class="material-icons green-icon"> search </i> 
                </button>
            </form>
        </div>

            <div class="btn-group dropleft">
                <button type="button" class="dropdown-toggle btn-icon btn btn-outline-dark my-2 my-sm-0 btn-ico" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons green-icon"> menu </i> 
                </button>

                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/produto/carrinho"> 
                        Carrinho de Compras 
                    </a>

                    <a class="dropdown-item" href="/produto/adicionar"> 
                        Adicionar Produtos 
                    </a>

                    <a class="dropdown-item" href="#">
                        Alguma coisa aqui
                    </a>

                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" href="/usuario/logout">
                        Sair
                    </a>
                </div>
            </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show alert-produtos" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
            {% endfor %}
        {% endif %}
    {% endwith %}


    <div class="container-carrinho">
        {% if produtos %}
            <table class="carrinho-compras">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Quantidade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produto in produtos %}
                        <tr>
                            <td scope="row">
                                <img src="{{ url_for('static', filename=produto.arquivo) }}" class="foto-prod-carrinho" alt="Foto top aqui">
                            </td>
                            <td class="overflow-text">
                                {{ produto.nome }}
                            </td>
                            <td class="overflow-text">{{ produto.descricao }} </td>
                            <td> R$ {{ produto.preco }}</td>
                            <td> 
                                <input type="number" class="inpt-qnt" name="quantidade" id="quantidade" value="1" min="1">
                            </td>
                            <td>
                                <a href="#" class="btn btn-outline-dark btn-icon"> 
                                    <i class="material-icons red-icon"> delete </i> 
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#confirmarModal">
                                Comprar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>   
        {% else %}
            <span> Nenhum produto encontrado </span>
        {% endif %}
    </div>
        <div class="modal fade" id="confirmarModal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        Deseja mesmo realizar essa compra?
                        <br>
                        <a class="btn btn-outline-success" href="/produto/comprar">
                            Sim
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}