{% extends "layout/layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    <title> {{ titulo }} </title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/carrinho.css') }}">
{% endblock %}

{% block body %}
    <nav class="navbar">
        <div>
            <a class="navbar-brand" href="/"> CompraPC </a>
        </div>

        <div>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-dark my-2 my-sm-0 btn-icon" type="submit"> 
                    <i class="material-icons green-icon"> search </i> 
                </button>
            </form>
        </div>

            <div class="btn-group dropleft">
                <button type="button" class="dropdown-toggle btn-icon btn btn-outline-dark my-2 my-sm-0 btn-ico" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons green-icon"> menu </i> 
                </button>

                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/produto"> 
                        Produtos
                    </a>

                    {% if current_user.cargo == 'cliente' %}
                        <a class="dropdown-item" href="/produto/carrinho"> 
                            Carrinho de Compras 
                        </a>
                    {% elif current_user.cargo == 'administrador' or current_user.cargo == 'funcionario' %}
                        <a class="dropdown-item" href="/produto/adicionar"> 
                            Adicionar Produtos 
                        </a>

                        {% if current_user.cargo == 'administrador'%}
                            <a class="dropdown-item" href="#">
                                Cadastrar Funcionários
                            </a>
                        {% endif %}
                    {% endif %}


                    <a class="dropdown-item" href="/usuario/logout">
                        Sair
                    </a>
                </div>
            </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show alert-produtos" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <div class="container">
        <div class="container-compra carrinho-compras">
            <div>
                Feita a compra no valor de: R$ {{valor}}
            </div>
            <div>
                <a href="/email/enviar/{{ valor }}" class="btn btn-outline-success" > 
                    Enviar para meu email!
                </a>
            </div>
        </div>
    </div>
            

{% endblock %}