{% extends "layout/layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    <title> {{ titulo }} </title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/carrinho.css') }}">
{% endblock %}

{% block body %}
    <nav class="navbar">
        <div>
            <a class="navbar-brand" href="/"> CompraPC </a>
        </div>
        
        <div class="btn-group dropleft">
                <button type="button" class="dropdown-toggle btn-icon btn btn-outline-dark my-2 my-sm-0 btn-ico" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons green-icon"> menu </i> 
                </button>

                <div class="dropdown-menu">  
                    {% if current_user.cargo == 'cliente' %}
                        <a class="dropdown-item" href="/usuario/editar"> 
                            Editar perfil 
                        </a>
                        <a class="dropdown-item" href="/carrinho"> 
                            Carrinho de Compras 
                        </a>
                    {% elif current_user.cargo == 'administrador' or current_user.cargo == 'funcionario' %}
                        <a class="dropdown-item" href="/produto/adicionar"> 
                            Adicionar Produtos 
                        </a>

                        {% if current_user.cargo == 'administrador'%}
                            <a class="dropdown-item" href="/usuario/funcionario/cadastro">
                                Cadastrar Funcionários
                            </a>
                        {% endif %}
                    {% endif %}

                    {% if current_user.email_verificado == 0 %}
                        <a class="dropdown-item" href="/email/enviarverificacao"> 
                            Verificar email
                        </a>
                    {% endif %}

                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" href="/usuario/logout">
                        Sair
                    </a>
                </div>
            </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show alert-produtos" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
            {% endfor %}
        {% endif %}
    {% endwith %}


    <div class="container-carrinho">
        {% if funcionarios %}
            <table class="carrinho-compras">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">E-mail</th>
                    </tr>
                </thead>
                <tbody>
                    {% for funcionario in funcionarios %}
                        <tr>
                            </td>
                            <td class="overflow-text">
                                {{ funcionario.nome }}
                            </td>
                            <td class="overflow-text">{{ funcionario.cargo }} </td>
                            <td> {{ funcionario.email }}</td>
                            <td> 
                                <a href="/usuario/editar/{{ funcionario.id }}" class="btn btn-outline-dark btn-icon"> 
                                    <i class="material-icons green-icon"> edit </i> 
                                </a>
                            </td>
                            <td> 
                                <a href="/usuario/deletarconta/{{ funcionario.id }}" class="btn btn-outline-dark btn-icon"> 
                                    <i class="material-icons red-icon"> delete </i> 
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>   
        {% else %}
            <span> Nenhum produto encontrado </span>
        {% endif %}
    </div>
        <div class="modal fade" id="confirmarModal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        Deseja mesmo realizar essa compra?
                        <br>
                        <a type="submit" class="btn btn-outline-success" href="/carrinho/comprar">
                            Sim
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/carrinho.js') }}"></script>
{% endblock %}
