{% extends 'app/templates/layout/layout.html' %}

{% block tittle %} Lista {% endblock %}

{% block body %}

    {% for lista in func %}

    <h4>------------------------------------------------</h4>

        ID: {{ lista.id }}</br>
        Nome do Departamento: {{ lista.nome }}</br>
        Nome dos Empregados:<br>
        {% for emp in lista.empregados %}
            {{ emp.nome }}</br>
        {% endfor %}
        
    {% endfor %}
    <h4>------------------------------------------------</h4>
    </br>
    <a href="/home/">Voltar</a>

{% endblock %}