{% extends 'layout/layout.html' %}

{% block tittle %} Lista {% endblock %}

{% block body %}

    {% for lista in func %}

    <h4>------------------------------------------------</h4>

        ID: {{ lista.id }}</br>
        Nome do Produto: {{ lista.nome }}</br>
        Descrição: {{ lista.descricao }}</br>
        Preço: {{ lista.preco }}</br>
        Quantidade: {{ lista.quantidade }}</br>
        Diretorio: {{ lista.arquivo }}<br>
        <a href="/home/excluirP/{{lista.id}}">Excluir</a>
        
    {% endfor %}
    <h4>------------------------------------------------</h4>
    </br>
    <a href="/home/">Voltar</a>

{% endblock %}