{% extends "layout/layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    <title> {{ titulo }} </title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
    <nav class="navbar">
        <div>
            <a class="navbar-brand" href="/"> CompraPC </a>
        </div>

        <div>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-dark my-2 my-sm-0 btn-icon" type="submit"> 
                    <i class="material-icons green-icon"> search </i> 
                </button>
            </form>
        </div>

        {% if current_user.nome %}
            <div class="btn-group dropleft">
                <button type="button" class="dropdown-toggle btn-icon btn btn-outline-dark my-2 my-sm-0 btn-ico" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons green-icon"> menu </i> 
                </button>

                <div class="dropdown-menu">
                    {% if current_user.cargo == 'cliente' %}
                        <a class="dropdown-item" href="/produto/carrinho"> 
                            Carrinho de Compras 
                        </a>
                    {% else %}
                        <a class="dropdown-item" href="/produto/adicionar"> 
                            Adicionar Produtos 
                        </a>

                        {% if current_user.cargo == 'administrador' %}
                            <a class="dropdown-item" href="#">
                                Cadastrar Funcionários
                            </a>
                        {% endif %}
                    {% endif %}

                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" href="/usuario/logout">
                        Sair
                    </a>
                </div>
            </div>
        {% else %}
            <button class="btn btn-outline-dark my-2 my-sm-0" data-toggle="modal" data-target="#loginModal">
                Entrar
            </button>
        {% endif %}
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show alert-produtos" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div id="produtos">
            
        {% if produtos %}
                {% for produto in produtos %}
                    <div class="card" style="width: 18rem;">
                        <div class="card-image">
                            <div>
                                <img src="{{ url_for('static', filename=produto.arquivo) }}" class="card-img-top" alt="Foto top aqui">
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"> {{ produto.nome }} </h5>
                            <p class="card-text"> Descrição: {{ produto.descricao }} </p>                        
                            <div id="btn-acoes-produto">
                                <a href="/produto/detalhe/{{ produto.id }}" class="btn btn-outline-dark btn-icon col-12"> 
                                    <i class="material-icons green-icon"> add_circle </i> 
                                </a>
                            </div>
                        </div>
                    </div>            
                {% endfor %}
        {% else %}
            <span> Nenhum produto encontrado </span>
        {% endif %}
        
    </div>

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle"> Entrar </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ wtf.quick_form(form_login, action='/usuario/login', button_map={'submit': 'outline-dark col-6 offset-3'}) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"> Cancelar </button>

                    <button class="btn btn-outline-dark my-2 my-sm-0" data-toggle="modal" data-target="#cadastroModal">
                        Cadastrar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="cadastroModal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalCenterTitle"> Cadastrar </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ wtf.quick_form(form_cadastro, action='/usuario/cadastro', button_map={'submit': 'outline-dark col-6 offset-3'}) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"> Voltar </button>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}